

## Verification of DSE records for e3, page 224r

###  Completeness

To check for **completeness** of coverage, please review these visualizations of DSE relations in ICT2:

- [**all** DSE relations of page 224r ](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5071,0.7566,0.4483,0.1298&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.8170,0.3564,0.1573,0.3245&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5510,0.5400,0.2369,0.04001&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5248,0.6988,0.3001,0.03700&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5143,0.6305,0.2904,0.04462&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5222,0.6084,0.3056,0.04373&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5051,0.5586,0.3027,0.04621&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5247,0.4952,0.2967,0.04479&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5083,0.8670,0.4412,0.07011&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.8115,0.7001,0.1406,0.06693&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5217,0.6505,0.2857,0.04143&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5227,0.6732,0.2953,0.04196&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5256,0.5873,0.2701,0.03895).

Visualizations for individual documents:

-  all [passages in urn:cts:greekLit:tlg5026.e3.hmt:](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5071,0.7566,0.4483,0.1298&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.8170,0.3564,0.1573,0.3245&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.5083,0.8670,0.4412,0.07011&urn=urn:cite2:hmt:e3bifolio.v1:E3_223v_224r@0.8115,0.7001,0.1406,0.06693).
