

## Verification of DSE records for msB, page 231r

###  Completeness

To check for **completeness** of coverage, please review these visualizations of DSE relations in ICT2:

- [**all** DSE relations of page 231r ](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5468,0.5860,0.2370,0.02855&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.8013,0.6402,0.1220,0.05631&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5457,0.5060,0.2569,0.03328&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5472,0.6650,0.2492,0.03344&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5462,0.6879,0.2512,0.02950&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.8044,0.3273,0.1235,0.2877&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5478,0.6442,0.2452,0.03013&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5180,0.7986,0.4016,0.05647&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5476,0.6095,0.2613,0.02729&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5355,0.5628,0.2579,0.03470&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5205,0.7252,0.3991,0.09069&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5722,0.5361,0.1836,0.03691&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5381,0.6257,0.2574,0.02886).

Visualizations for individual documents:

-  all [passages in urn:cts:greekLit:tlg0012.tlg001.msB:](http://www.homermultitext.org/ict2/?urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5468,0.5860,0.2370,0.02855&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5472,0.6650,0.2492,0.03344&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5462,0.6879,0.2512,0.02950&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5478,0.6442,0.2452,0.03013&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5476,0.6095,0.2613,0.02729&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5355,0.5628,0.2579,0.03470&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5722,0.5361,0.1836,0.03691&urn=urn:cite2:hmt:vbbifolio.v1:vb_230v_231r@0.5381,0.6257,0.2574,0.02886).
